<div class="page-wrapper" style="min-height: 539px;">
  
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="card card card-outline-inverse">
          <div class="card-header">
            <div><h4 class="m-b-0 text-white">Responsables</h4></div>
          </div>
          <div class="card-body">
            <p *ngFor="let user of activity.users" class="card-text">{{user}}</p>
            <form #newUserForm="ngForm" (ngSubmit)="newUserForm.form.valid && validUser(newUser.value) && addUser(newUser.value)" novalidate>
            <div class="row">
              <div class="col-8">
                <input type="text" class="form-control" #newUser [ngClass]="{'is-invalid':(newUserForm.submitted && !validUser(newUser.value))}" name="newUser" (keyup)="0" required>
                          <div *ngIf="newUserForm.submitted && !validUser(newUser.value)" class="invalid-feedback">
                             <div *ngIf="newUserForm.submitted && !validUser(newUser.value)">No existe un usuario con ese nombre</div>
                          </div>
              </div>
              <div class="col-4">
                <button type="submit" id="add-btn" class="btn btn-primary">Agregar</button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
    
    <!-- ============================================================== -->
    <!-- End of Container fluid  -->
    <!-- ============================================================== -->
  </div>
</div>