{% extends "base.html" %}

{% block content %}
    <div class="container">
		<div style="width: 50%; margin: 25px auto;">
			<div class="row border" style="padding: 2%; background-color: #f6f8fa">
				<span class="align-middle"><strong>Artefactos del recurso</strong></span>
			</div>

            <div class="row row border" style="padding: 4%;">
				<ul class="list-group">
                {% for Artifact in artifact_list %}
                    <li class="list-group-item" style="border: none">{{ Artifact.name }}</li>
                {% endfor %}
				</ul>
			</div>
        </div>
    </div>
{% endblock %}