<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">{{actionName}} actividad</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/activities">Actividades</a></li>
          <li class="breadcrumb-item">{{actionName}}</li>
        </ol>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="activityForm" (ngSubmit)="saveActivity()" class="form-material m-t-40">
              <div class="form-group">
                <label class="font-medium m-t-30">Nombre</label>
                <input type="text" formControlName="name" class="form-control form-control-line" required> 
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="font-medium m-t-30">Fecha de inicio</label>
                  <input type="text" formControlName="start_date" class="form-control form-control-line" placeholder="yyyy-mm-dd hh:mm:ss" required>
                  <span class="help">Formato: yyyy-mm-dd hh:mm:ss</span> 
                </div>
                <div class="form-group col-md-4">
                  <label class="font-medium m-t-30">Fecha de fin</label>
                  <input type="text" formControlName="end_date" class="form-control form-control-line" placeholder="yyyy-mm-dd hh:mm:ss" required>
                  <span class="help">Formato: yyyy-mm-dd hh:mm:ss</span>  
                </div>
                <div class="form-group col-md-4">
                    <label class="font-medium m-t-30">Avance (%)</label>
                    <input type="number" formControlName="progress" class="form-control form-control-line" required> 
                  </div>
              </div>
              <div class="row">
                <div class="form-group col-md-4">
                  <label class="font-medium m-t-30">Duración (Días)</label>
                  <input type="number" formControlName="duration" class="form-control form-control-line">
                </div>
                <div class="form-group col-md-4">
                  <label class="font-medium m-t-30">Periodicidad</label>
                  <select formControlName="periodicity" class="form-control">
                    <option [ngValue]="1">Cada hora</option>
                    <option [ngValue]="2">Diario</option>
                    <option [ngValue]="3">Semanal</option>
                    <option [ngValue]="4">Quincenal</option>
                    <option [ngValue]="5">Mensual</option>
                    <option [ngValue]="6">N/A</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label class="font-medium m-t-30">Estado</label>
                  <select formControlName="status" class="form-control">
                    <option [ngValue]="1">Iniciado</option>
                    <option [ngValue]="2">No iniciado</option>
                    <option [ngValue]="3">Finalizado</option>
                  </select>
                </div>
                <input *ngIf="!isNew" type="number" formControlName="resource" style="visibility: hidden">
              </div>
              <div class="form-group">
                  <label class="font-medium m-t-30">Recurso</label>
                  <select *ngIf="isNew" formControlName="resource" class="form-control">
                      <option *ngFor="let resource of resources" [ngValue]="resource.id" >{{resource.name}}</option>
                  </select>
                  <div *ngIf="!isNew && activity" >{{activity.resource}}</div>
              </div>
              <div class="row">
                <div *ngIf="!isNew && activity" class="col-9">
                  <button class="btn waves-effect waves-light btn-outline-primary" routerLink="/activity/{{activity.id}}/users">Responsables</button>
                </div>
                <div class="col-3">
                  <button type="submit" class="btn btn-block waves-effect waves-light btn-outline-primary">{{actionName}}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
  
  