<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 *ngIf="resource" class="text-themecolor">{{resource.name}}</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/resources">Recursos</a></li>
          <li class="breadcrumb-item">recurso</li>
          <li *ngIf="resource" class="breadcrumb-item active">{{resource.name}}</li>
        </ol>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div *ngIf="resource" class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-3 col-xs-6 b-r"> <strong>Tipo</strong>
                <br>
                <p class="text-muted">{{resource.type}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Prioridad</strong>
                <br>
                <p class="text-muted">{{resource.priority_display}}</p>
              </div>
              <div class="col-md-3 col-xs-6 b-r"> <strong>Tiempo estimado (días)</strong>
                <br>
                <p class="text-muted">{{resource.estimated_duration}}</p>
              </div>
              <div class="col-md-3 col-xs-6"> <strong>Fase actual</strong>
                <br>
                <p class="text-muted">{{resource.current_phase_display}}</p>
              </div>
            </div>
            <hr>
            <h4 class="font-medium m-t-30"><strong>Descripción:</strong></h4>
            <p class="m-t-30">{{resource.description}}</p>
            <hr>
            <h4 class="font-medium m-t-30"><strong>Proyecto:</strong> </h4>
            <p class="m-t-30">{{resource.project.name}}</p>
            <hr>
            <h4 class="font-medium m-t-30"><strong>Etiquetas:</strong> </h4>
            <p class="m-t-30">{{resource.tags}}</p>
            <hr>
            <div class="row">
              <div class="col-md-6 col-xs-6 b-r"> <strong>Fecha de creación</strong>
                <br>
                <p class="text-muted">{{resource.created_at}}</p>
              </div>
              <div class="col-md-6 col-xs-6"> <strong>Fecha de modificación</strong>
                <br>
                <p class="text-muted">{{resource.updated_at}}</p>
              </div>
            </div>
            <hr>
            <a routerLink="/resources/edit/{{resource.id}}" class="btn btn-primary">Editar recurso</a>
            <a routerLink="/resource/{{resource.id}}/meetingRecord" class="btn btn-primary" style="margin-left:20px;">Ver actas de reuniones</a>
            <hr>
            <h4 class="font-medium m-t-30"><strong>Artefactos:</strong> </h4>
            <app-artifact-list [artifactsIds]="resource.artifacts"></app-artifact-list>
            <a href="javascript:void(0);" (click)="addArtifact(resource.id, resource.name)" data-toggle="modal" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
              <i class="ti-plus"></i> Agregar Artefacto
            </a>
            <hr>
            <h4 class="font-medium m-t-30"><strong>Comentarios:</strong> </h4>
            <app-resource-comments-list [resourceId]="resource.id"></app-resource-comments-list>
            <a href="javascript:void(0);" routerLink="/resources/{{resource.id}}/comments/create" data-toggle="modal" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
              <i class="ti-plus"></i> Agregar Commentario
            </a>
            <hr>
            <h4 class="font-medium m-t-30"><strong>Versiones del Recurso:</strong> </h4>
            <table class="table color-table primary-table">
              <thead>
                <tr>
                  <th class="card-header">Número de versión</th>
                  <th class="card-header">Fecha</th>
                  <th class="card-header">Archivo</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let version of resourceVersions">
                  <td>{{ version.version_number }}</td>
                  <td>{{ version.created_at | date:'short' }}</td>
                  <td>{{ version.file }}</td>
                </tr>
              </tbody>
            </table>
            <div class="form-group col-xs-10 col-sm-10 col-md-4 col-lg-4">
              Selecciona un archivo para cargar la nueva versión del recurso:
              <label for="inputArchivo">Cargar archivo</label>
              <input type="file" (change)="fileEvent($event)" name="resourceVersionFile" id="resourceVersionFile">
              <a href="javascript:void(0);" class="btn btn-primary" (click)="nuevaVersion()">Agregar Nueva Versión</a>
            </div>
            <app-resource-users></app-resource-users>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <div class="row" *ngIf="resource">
        
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
