<div class="page-wrapper">
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
      <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Agregar comentario</h3>
      </div>
      <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/resources/{{resourceId}}">Recurso</a></li>
          <li class="breadcrumb-item">Comentarios</li>
          <li class="breadcrumb-item">Agregar</li>
        </ol>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <form [formGroup]="commentForm" (ngSubmit)="saveComment()" class="form-material m-t-40">
              <div class="form-group">
                <label class="font-medium m-t-30">Título</label>
                <input type="text" formControlName="title" class="form-control form-control-line" required> 
              </div>
              <div class="form-group">
                <label class="font-medium m-t-30">Comentario</label>
                <textarea name="content" formControlName="content" class="form-control form-control-line" rows="2" required></textarea>
              </div>
              <div class="row">
                <button type="submit" class="btn btn-block waves-effect waves-light btn-outline-primary">Agregar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Container fluid  -->
  <!-- ============================================================== -->
</div>
  
  