.card-outline-inverse .card-header {
    background: #2f3d4a;
    border-color: #2f3d4a;
}

.phase-div {
	float: right;
}

.users-names-container {
	padding: 20px;
	font-weight: 500;
}

.search-container {
	position: absolute;
	z-index: 1;
	width: 100%;
	max-height: 200px;
	max-width: 475px;
	background-color: #F5F5F5;
	overflow-y: auto; 
}

.users-names-container:hover {
	background-color: #E0E0E0;
}

.active {
	background-color: #E0E0E0;
}

.example-form {
	margin: 20px 10px;
}

.option-container {
	background-color: #F5F5F5;
	padding: 20px;
}

.user-name {
	font-weight: 500;
}
