{% extends "base.html" %}

{% block content %}

  	<div class="container">
		<div style="width: 50%; margin: 25px auto;">
			<div class="row border" style="padding: 2%; background-color: #f6f8fa">
				<span class="align-middle"><strong>Responsables</strong></span>
			</div>
			<div class="row row border" style="padding: 4%;">
				<ul class="list-group">
				  <li class="list-group-item" style="border: none">Cras justo odio</li>
				  <li class="list-group-item" style="border: none">Dapibus ac facilisis in</li>
				  <li class="list-group-item" style="border: none">Morbi leo risus</li>
				  <li class="list-group-item" style="border: none">Porta ac consectetur ac</li>
				  <li class="list-group-item" style="border: none">Vestibulum at eros</li>
				</ul>
			</div>
			<div class="row border" style="padding: 5%">
				<div class="col">
					<form>
						<div class="row">
					    	<div class="col-8">
					      		<input type="text" class="form-control">
					    	</div>
					    	<div class="col-4">
					      		<button class="btn btn-ligth" type="button">Agregar</button>
					    	</div>
					  	</div>
					</form>
				</div>	
				
			</div>	
		<a href="/workflow/users">Volver</a>
	</div>

{% endblock content %}