<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor">Recursos</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/resources">Recursos</a></li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div *ngFor='let resource of resources' class="col-md-6">
      <div class="card card-outline-inverse">
        <div class="card-header">
            <h4 class="m-b-0 text-white">{{resource.project.name}}</h4></div>
        <div class="card-body">
            <h3 class="card-title">{{resource.name}}</h3>
            <p class="card-text">{{resource.description}}</p>
            <a routerLink="/resources/{{resource.id}}" class="btn btn-primary mr-2">Ver recurso</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <a routerLink="/resources/new" data-toggle="modal" class="btn m-t-10 btn-info btn-block waves-effect waves-light">
        <i class="ti-plus"></i> Crear nuevo recurso
    </a>
  </div>
  <!-- ============================================================== -->
  <!-- End of Container fluid  -->
  <!-- ============================================================== -->
</div>