<div class="accordion" id="commentsAccordion">
  <div class="card" *ngFor="let comment of comments; let index = index">
    <div class="card-header" [attr.id]="index">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse_'+index" aria-expanded="true" [attr.aria-controls]="'collapse_'+index">
          {{comment.title}} (Creado el: {{comment.created_at}}) <a style="position: absolute; right: 20px;" (click)="deleteComment(comment)" data-toggle="tooltip" data-original-title="Borrar"> <i class="fa fa-close text-danger"></i> </a>
        </button>
      </h5>
    </div>
    <div [attr.id]="'collapse_'+index" class="collapse" [attr.aria-labelledby]="index" [attr.data-parent]="'#'+index">
      <div class="card-body">
        <h4 class="font-medium m-t-10"> Comentario: </h4>
        {{comment.content}}
        <!-- <br> -->
        <!-- <h4 class="font-medium m-t-30"> ¿Está resuelto?: </h4>
        {{comment.resolved}} -->
      </div>
    </div>
  </div>
</div>