<div class="page-wrapper" style="min-height: 539px;">
  
  <!-- ============================================================== -->
  <!-- Container fluid  -->
  <!-- ============================================================== -->
  <div class="container-fluid">
    <div class="form-group row">
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
          <label for="name">Nombre del artefacto</label>
          <input type="text" class="form-control" id="name" placeholder="Nombres del artefacto" [(ngModel)]="name">
      </div>
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
          <label for="description">Descripción</label>
          <input type="text" class="form-control" id="description" placeholder="Descripcion" [(ngModel)]="description">
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
        <label for="created_by">Creado por</label>
        <select class="form-control" id="created_by" [(ngModel)]="created_by">
          <option *ngFor="let user of users" [ngValue]="user.id">{{user.username}}</option>
        </select>
      </div>
      <div class="form-group col-xs-10 col-sm-10 col-md-4 col-lg-4">
        <label for="inputArchivo">Cargar archivo</label>
        <input type="file" (change)="fileEvent($event)" name="imageUpload" id="imageUpload">
      </div>
    </div>
    <div class="form-group row">
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4">
          <label for="tags">Tags</label>
          <input type="text" class="form-control" id="tags" placeholder="Tags" [(ngModel)]="tags">
      </div>
      <div class="form-group col-xs-10 col-sm-4 col-md-4 col-lg-4" style="line-height: 6.4;">
          <input type="checkbox" class="filled-in" id="preview" [(ngModel)]="preview" checked>
          <label for="preview">Tiene preview</label>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
          <br>
          <button type="submit" class="btn btn-info" (click)="crearArtifact()">Crear Artefacto</button>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>